Django==5.2.7
googlemaps==4.10.0
ortools==9.14.6206
pandas==2.3.3
numpy==2.3.4
openpyxl==3.1.5
django-crispy-forms==2.4
crispy-bootstrap5==2025.6

# Production server
gunicorn==21.2.0
psycopg2-binary==2.9.9
redis==5.0.1
whitenoise==6.6.0

